/** Basic config file **/

configuration {
  show-icons: true;
  icon-theme: "Papirus";
  display-drun: "  ";
  display-window: "﩯 ";
  display-combi: "  ";
}
@theme "/home/hubert/.local/share/rofi/themes/sidebar.rasi"
