.bash_history
.cache
.config/"Code - OSS"
.config/fastfetch/config.jsonc.1
.config/galculator/
.config/geany/
.config/GitHub Desktop
.config/google-chrome
.config/libreoffice/
.config/neofetch/
.config/nwg-look/
.config/user-dirs.dirs
.config/user-dirs.locale
.dmrc
.dotfiles
.emcs
.git-credentials
.gnupg
.icons
.local
.mozilla
.pki
.ssh/
.thunderbird
.vscode-oss
.wget-hsts
.Xauthority
.xim.template
.xsession-errors
.xsession-errors.old
a.out
bin
cv_debug.log
Dokumenty
Dokumenty/GitHub/archlinux/.config/"Code - OSS"/User/History
JoplinBackup
linux_signing_key.pub
Muzyka
Obrazy
plik_log.txt
Pobrane
Pulpit
Szablony
Wideo
